.table.dataTable {
    border: 1px solid #ddd;
}

table.dataTable thead th {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

table.dataTable tbody td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.dataTables_info {
    bottom: -25px;
    left: 10px;
    position: absolute;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

.dataTables_length {
    background: rgba(255, 255, 255, 0);
    border-style: none;
    margin-right: 118px;
    text-align: left;
}

.dataTables_filter {
    right: 20px;
}

.btn-new {
    width: 80px;
    border-radius: 1px;
    height: 35px;
}

.padding-top-2{
  padding-top: 2%;
}

.paddingBottom{
      padding-bottom: 2%;
}
